<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Welcome</h1>
<h1>You registered successfully!!</h1>

	
<h1 > Name <span th:text="${user.name}"></span></h1>
<h1 > Password <span th:text="${user.password}"></span></h1>
<h1 > Email <span th:text="${user.email}"></span></h1>
<h1 > Role <span th:text="${user.role}"></span></h1>
<h1 > Profile <span th:text="${user.profile}"></span></h1>
<h1 > IsActive <span th:text="${user.isActive}"></span></h1>
<h1 > About <span th:text="${user.about}"></span></h1>


</body>
</html>